In [2]:
import pandas as pd

In [3]:
sample_size = 100000
train_data_path = 'otto-recommender-system/train.jsonl'
chunks = pd.read_json(train_data_path, lines=True, chunksize = sample_size)

for c in chunks:
    train_data_df = c
    break

In [4]:
train_data_df.head(3)

   session                                             events
0        0  [{'aid': 1517085, 'ts': 1659304800025, 'type':...
1        1  [{'aid': 424964, 'ts': 1659304800025, 'type': ...
2        2  [{'aid': 763743, 'ts': 1659304800038, 'type': ...