In [26]:
import pandas as pd
from datetime import datetime

In [3]:
sample_size = 100000
train_data_path = 'otto-recommender-system/train.jsonl'
chunks = pd.read_json(train_data_path, lines=True, chunksize = sample_size)

for c in chunks:
    train_data_df = c
    break

In [5]:
train_data_df.head(3)

   session                                             events
0        0  [{'aid': 1517085, 'ts': 1659304800025, 'type':...
1        1  [{'aid': 424964, 'ts': 1659304800025, 'type': ...
2        2  [{'aid': 763743, 'ts': 1659304800038, 'type': ...

In [12]:
# Review data for a single session:

session_1_df = pd.DataFrame(train_data_df.iloc[1,1])

In [17]:
session_1_df.sort_values(['aid','ts'], ascending=[True, True])

        aid             ts    type
21    50049  1659991115562  clicks
22   105393  1659991156255  clicks
23   105393  1659991168139   carts
10   109488  1659473065576  clicks
28   207905  1661686200666  clicks
16   215311  1659990959575  clicks
17   215311  1659990964841   carts
30   376932  1661705869789  clicks
0    424964  1659304800025   carts
7    424964  1659385993848  clicks
9    440486  1659473014870  clicks
31   497868  1661714854992  clicks
19   711125  1659991046608  clicks
20   711125  1659991053886   carts
15   718983  1659990943793  clicks
18   718983  1659990982524  clicks
13   854637  1659990929876  clicks
14   854637  1659990941327   carts
3    910862  1659304891923  clicks
4    910862  1659304900209   carts
24   959544  1659991199405  clicks
27  1464360  1661447432716  clicks
5   1491172  1659385939248  clicks
6   1491172  1659385945915   carts
1   1492293  1659304852871  clicks
2   1492293  1659304863627   carts
11  1507622  1659473076244  clicks
8   1515526  1659386025990  clicks
29  1628317  1661686382213  clicks
12  1734061  1659855882096  clicks
25  1734061  1660431511439  clicks
26  1842593  1660857067556  clicks

In [21]:
session_1_df.groupby('type').agg(count_action=('aid','size'))

        count_action
type
carts              8
clicks            24

In [37]:
session_1_df.loc[:,'ts'] = session_1_df.loc[:,'ts'].apply(lambda x: pd.to_datetime(datetime.fromtimestamp(x/1000)))

In [44]:
session_1_df.head(8)

       aid                      ts    type
0   424964 2022-07-31 17:00:00.025   carts
1  1492293 2022-07-31 17:00:52.871  clicks
2  1492293 2022-07-31 17:01:03.627   carts
3   910862 2022-07-31 17:01:31.923  clicks
4   910862 2022-07-31 17:01:40.209   carts
5  1491172 2022-08-01 15:32:19.248  clicks
6  1491172 2022-08-01 15:32:25.915   carts
7   424964 2022-08-01 15:33:13.848  clicks

In [64]:
session_1_df['time_diff'] = session_1_df['ts'].diff(1)

In [70]:
session_1_df.loc[:,'milliseconds_elapsed'] = session_1_df.loc[:,'time_diff'].apply(lambda x: x.total_seconds())

In [71]:
session_1_df

,aid,ts,type,time_diff,milliseconds_elapsed
0,424964,2022-07-31 17:00:00.025,carts,NaT,NaN
1,1492293,2022-07-31 17:00:52.871,clicks,0 days 00:00:52.846000,52.846
2,1492293,2022-07-31 17:01:03.627,carts,0 days 00:00:10.756000,10.756
3,910862,2022-07-31 17:01:31.923,clicks,0 days 00:00:28.296000,28.296
4,910862,2022-07-31 17:01:40.209,carts,0 days 00:00:08.286000,8.286
5,1491172,2022-08-01 15:32:19.248,clicks,0 days 22:30:39.039000,81039.039
6,1491172,2022-08-01 15:32:25.915,carts,0 days 00:00:06.667000,6.667
7,424964,2022-08-01 15:33:13.848,clicks,0 days 00:00:47.933000,47.933
8,1515526,2022-08-01 15:33:45.990,clicks,0 days 00:00:32.142000,32.142
9,440486,2022-08-02 15:43:34.870,clicks,1 days 00:09:48.880000,86988.880
10,109488,2022-08-02 15:44:25.576,clicks,0 days 00:00:50.706000,50.706
11,1507622,2022-08-02 15:44:36.244,clicks,0 days 00:00:10.668000,10.668
12,1734061,2022-08-07 02:04:42.096,clicks,4 days 10:20:05.852000,382805.852
13,854637,2022-08-08 15:35:29.876,clicks,1 days 13:30:47.780000,135047.780
14,854637,2022-08-08 15:35:41.327,carts,0 days 00:00:11.451000,11.451
15,718983,2022-08-08 15:35:43.793,clicks,0 days 00:00:02.466000,2.466
16,215311,2022-08-08 15:35:59.575,clicks,0 days 00:00:15.782000,15.782
17,215311,2022-08-08 15:36:04.841,carts,0 days 00:00:05.266000,5.266
18,718983,2022-08-08 15:36:22.524,clicks,0 days 00:00:17.683000,17.683
19,711125,2022-08-08 15:37:26.608,clicks,0 days 00:01:04.084000,64.084
20,711125,2022-08-08 15:37:33.886,carts,0 days 00:00:07.278000,7.278
21,50049,2022-08-08 15:38:35.562,clicks,0 days 00:01:01.676000,61.676
22,105393,2022-08-08 15:39:16.255,clicks,0 days 00:00:40.693000,40.693
23,105393,2022-08-08 15:39:28.139,carts,0 days 00:00:11.884000,11.884
24,959544,2022-08-08 15:39:59.405,clicks,0 days 00:00:31.266000,31.266
25,1734061,2022-08-13 17:58:31.439,clicks,5 days 02:18:32.034000,440312.034
26,1842593,2022-08-18 16:11:07.556,clicks,4 days 22:12:36.117000,425556.117
27,1464360,2022-08-25 12:10:32.716,clicks,6 days 19:59:25.160000,590365.160
28,207905,2022-08-28 06:30:00.666,clicks,2 days 18:19:27.950000,238767.950
29,1628317,2022-08-28 06:33:02.213,clicks,0 days 00:03:01.547000,181.547
30,376932,2022-08-28 11:57:49.789,clicks,0 days 05:24:47.576000,19487.576
31,497868,2022-08-28 14:27:34.992,clicks,0 days 02:29:45.203000,8985.203